.dashboard-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 5%;
  }
  
  .levels-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .level-box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .luz{
    display: block;
  }
  