.main{
    width: 100vw;
    min-height: 66vh;
}

.bg-cover{
    background-image: url('../assets/data.png'); 
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    height: 100vh;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el color y la opacidad según sea necesario */
}
  
  .container {
    position: relative;
    z-index: 1;
    font-weight: bold;

  }