<div class="vertical">
    <section class="intro">
        <h1>Bienvenido a Datasense</h1>
        <p>Datasense es un sistema de monitoreo para los niveles de luz y sonido del data center de la carrera de Ingeniería en Ciencias de Computación, sede Quito.</p>
        <img src="../../../assets/ups.jpg" alt="Campus Sur, UPS">
    </section>
    
    <section class="about">
        <h2>¿Quiénes Somos?</h2>
        <p>Somos un equipo dedicado a la monitorización de las condiciones operativas del data center de la carrera de Ingeniería en Ciencias de Computación, sede Quito. Nuestro objetivo es asegurar que el entorno del data center se mantenga dentro de los parámetros óptimos para un funcionamiento eficiente.</p>
    </section>
    
    <section id="funciones" class="funciones">
        <h2 class="mb-4">Funciones</h2>
        <div class="funciones-container">
            <div class="funcion">
                <h3>Monitoreo de Condiciones</h3>
                <p>Supervisamos constantemente los niveles de luz y sonido en el Data Center para asegurar un entorno óptimo para los equipos.</p>
            </div>
            <div class="funcion">
                <h3>Gestión de Datos</h3>
                <p>Recopilamos y analizamos datos sobre el rendimiento del Data Center para identificar áreas de mejora y mantener la eficiencia operativa.</p>
            </div>
            <div class="funcion">
                <h3>Optimización de Recursos</h3>
                <p>Buscamos implementar estrategias para optimizar el uso de recursos, garantizando una operación segura y económica del Data Center.</p>
            </div>
        </div>
    </section>
      
</div>