<div class="main-vertical mt-4 mb-3">
    <section id="sobre-proyecto" class="info mb-3">
        <h2 class="mb-3">Acerca del Proyecto</h2>
        <p>
            Este proyecto tiene como objetivo monitorear en tiempo real los parámetros críticos <span>(nivel de luz y ruido)</span> del Data Center del Bloque D
            de la Universidad Politécnica Salesiana, mediante el uso de sensores. Los datos recolectados por estos sensores nos permiten asegurar el 
            funcionamiento óptimo y la seguridad del equipo de TI.
        </p>
    </section>
    <section id="sobre-datacenter" class="info2 mb-3">
        <h2 class="mb-3">Información sobre el Data Center</h2>
        <p>
            Nuestro Data Center alberga una infraestructura crítica para la universidad, incluyendo servidores, 
            dispositivos de almacenamiento y equipos de red. Está diseñado para garantizar la alta disponibilidad, 
            seguridad y eficiencia energética.
        </p>
        <ul>
            <li><strong>Ubicación:</strong> Bloque D, Planta Alta</li>
            <li><strong>Memoria:</strong> Hasta 3 TB de RAM distribuidos en servidores de alto rendimiento</li>
            <li><strong>Almacenamiento:</strong> Más de 100 TB en sistemas de almacenamiento distribuidos y redundantes</li>
            <li><strong>Procesamiento:</strong> Equipos de última generación que procesan información a 67GHz </li>
            <li><strong>Unidades de Procesamiento Gráfico:</strong> Tarjetas gráficas Nvidia Tesla K80 - Nvidia Tesla V100</li>
            <li><strong>Sistemas de Seguridad:</strong> Monitoreo continuo, control de acceso biométrico</li>

        </ul>
        <div class="card border-0 mb-3" style="background-color: #FFFFF3;">
            <img src="../../../assets/data.jpeg" alt="dataCenter" style="margin: auto; width: 30%;">
        </div>
    </section>
    <section id="importancia-monitoreo" class="info3">
        <h2 class="mb-3">Importancia del Monitoreo de Luz y Sonido</h2>
        <p>
            Monitorear el nivel de luz y de sonido en el Data Center es crucial para asegurar un entorno seguro y óptimo 
            para los equipos de TI. 
        </p>
        <ul>
            <li>
                <strong>Nivel de Luz:</strong> Mantener un nivel adecuado de iluminación es importante para la seguridad del personal 
                y para la correcta operación y mantenimiento de los equipos. Excesiva o insuficiente iluminación puede 
                causar problemas operativos y aumentar el riesgo de accidentes. Además este indicador puede llegar a complementar la
                información de otros sensores, e incluso evitar falsos positivos en las alarmas contra incendios.
                
            </li>
            <li>
                <strong>Nivel de Sonido:</strong> Monitorear el nivel de sonido ayuda a identificar ruidos anómalos que podrían indicar 
                fallos en los equipos de refrigeración o servidores. Un nivel de ruido adecuado también es importante para 
                la salud y el bienestar del personal que trabaja en el Data Center.
            </li>
        </ul>
    </section>
</div>
