.navbar{
    width: 100vw;
    display: flex;
    height: 11vh;
    background-color: #506EB4;;
}

.nav-logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.nav-logo h1{
    font-size: 22px;
    color: #ffc300;    
}
.nav-logo img{
    height: 10vh;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;

}
.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 6vh;
}

.nav-links button {
    margin: 0 10px; /* Espacio entre los botones */
    font-size: 20px;
    height: 5.5vh;
    background-color: #506EB4;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


.nav-links button:hover{
    margin: 0 10px; /* Espacio entre los botones */
    font-size: 20px;
    background-color:  white;
    color: #506EB4;
    border-radius: 5px;
    cursor: pointer;
}
.nav-links button.active-link{
    margin: 0 10px; /* Espacio entre los botones */
    font-size: 20px;
    background-color: white;
    color:  #506EB4;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .privado button{
    margin: 0 10px; /* Espacio entre los botones */
    font-size: 20px;
    height: 5.5vh;
    background-color: #506EB4;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.privado button:hover{
    margin: 0 10px; /* Espacio entre los botones */
    font-size: 20px;
    background-color:  white;
    color: #4361ee;
    border-radius: 5px;
    cursor: pointer;
  }