<footer class="text-white text-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <p class="mb-0">&copy; 2024 DataSense, Todos los derechos reservados</p>
            </div>
            <div class="col-md-6">
                <a href="https://www.facebook.com/" target="_blank" class="text-white me-2 mr-2">
                <i class="bi bi-facebook"></i>
                </a>
                <a href="https://github.com/" target="_blank" class="text-white me-2">
                <i class="bi bi-github"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="text-white me-2 ml-2">
                <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>